.background1 {
    opacity: 0.5; /* 設置透明度，0是完全透明，1是完全不透明 */
    filter: brightness(0.7); /* 設置亮度，0是完全黑暗，1是原始亮度 */
    position: relative; 
    z-index: -1;
    background-image: url('../../image/home.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  
.background h1 {
    font-size: 65px;
    color: rgb(89, 88, 88);
    text-shadow: 2px 2px 4px rgba(238, 234, 234, 0.3);
    position: absolute;
    top: 125px;
    left: 250px;
    z-index: 1;
}
  


.background::before {
  content: "";
  position: absolute;
  bottom: 285px; /* 底部位置 */
  right: -185px; /* 靠右 */
  z-index: 2; /* 圖片的第二層 */
  background-image: url('../../image/Line.jpg'); 
  width: 35%; 
  height: 75%; 
  transform: scale(0.25); /* 圖片的縮小比例 */
}
  
  
  