.searchContainer {
  height: 5%;
  display: flex;
  flex-direction: row;
  margin: 1% 0;
}

.searchContainer button {
  background-color: rgb(82, 80, 80);
  border: none;
  font-size: 19px;
  color: #fff;
  cursor: pointer;
  height: 25px;
}

.attendanceBtns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 80%;
}