.roomdeatailsform-container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
    justify-content: center; */
  height: 100vh;
}


.roomDeatailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}